@{
    ViewBag.Title = "Contact Developer";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    18 Forest Rd<br />
    Asheville, NC 28803-2908<br />
    <abbr title="Phone">P:</abbr>
    941-920-3139
</address>

<address>
    <strong>Support:</strong>   <a href="tpeara@gmail.com">tpeara@gmail.com</a><br />
</address>
