@{
    ViewBag.Title = "Welcome to TGP Bug Tracker!";
}
<aside class="center-block">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="padding-left:12px">
                <h2>@ViewBag.Title</h2>
                <h4>Software Development Manager</h4>
                <p>
                    <ul>
                        <li>Track multiple projects through the development process</li>
                        <li>Assign users to different functional roles and projects</li>
                        <li><b><i>(Check out different roles with Guest Logins)</i></b></li>
                        <li>Document bugs with tickets, attachments and comments</li>
                        <li>Notify developers of new tickets and changes</li>
                        <li>Log ticket changes</li>
                        <li>Archive old tickets</li>
                        <li>Customize categories </li>
                    </ul>
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card">

                <img src="~/img/about/CodingSnippet.jpg" width="600" style="align-content:center" />
            </div>
        </div>
    </div>
    <div class=row>
        <div class="col-md-6">
            <div class="card">
                
                <img src="~/img/about/fumigating_.jpg"  width="600" style="align-content:center"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">

                <img src="~/img/about/26Feelings R.jpg" width="600" style="align-content:center"/> 
                
            </div>
        </div>

    </div>

</aside>
